section.home{
    height:100vh;
    display: flex;
    position: relative;
    width:100%;
    overflow: hidden;
}

.image-area{
    top:0;
    left:0;
    height:93%;
    width: 100%;
    filter:brightness(.9);
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-get{
    z-index: 1;
    position: relative;
}

.image-area::before{
    content:'';
    opacity: .3;
    position: absolute;
    top:0;
    left:0;
    background:url('../images/background.jpg');
    background-size:cover;
    height:100%;
    width:100%;
    background-attachment: fixed;
}

.image-area img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.bg-light .py-5{
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-position: center;
    display: inline-block;
    font-size: 15px;
    font-family: 'oswald', sans-serif;
    text-align: center;
}

.login-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.enc-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:20vh;
}

.enc-form p{
    padding:10px;
    /*border:1px solid rgba(0,0,0,0.12);*/
    border-radius: 5px;
    margin:10px;
}

.enc-form input{
    /*border:none;*/
}

.about-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:90vh;
}

.about-page button{
    margin:10px;
}