{% extends 'base.html' %}
{% block title %} | Login Account {% endblock %}

{% block content %}

  <section id="login" class="bg-light py-5">
    <div class="container">
        <!--   <div class="card">
            <div>
              <h4>
                <i class="login-user-alt"></i></h4>
            </div> -->

            <h1>Login</h1>
            <div class="card-body">
             {% include 'partials/_alerts.html' %}  <!-- alerts -->
              <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" required>
                </div>

                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" required>
                </div>

                <input type="submit" value="Login" class="btn btn-secondary btn-block">
              </form>
            </div>
            <div class="login-lower">
              <i>Not a Member? </i><button class="btn btn-primary" onclick="window.location.href = '{% url 'register' %}';">Register</button>
            </div>
          </div>
    </div>
  </section>






{% endblock %}
