{% extends 'base.html' %}

{% block content %}


<section id="register" class="bg-light py-5">
    <div class="container">
        <div>
              <h4><i class="register-user-alt"></i> Register</h4>
        </div>
            <div class="card-body">
               {% include 'partials/_alerts.html' %}  <!-- alerts -->
                <form action="{% url 'register' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" name="first_name" class="form-control" required>
                  </div>
                  <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text" name="last_name" class="form-control" required>
                  </div>
                  <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" required>
                  </div>
                  <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" required>
                  </div>
                  <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" class="form-control" default="" required>
                  </div>
                  <div class="form-group">
                  <label for="password2">Confirm Password</label>
                  <input type="password" name="password2" class="form-control" required>
                  </div>
                  <input type="submit" value="Register" class="btn btn-secondary btn-block">
                </form>
            </div>
            <div class="register-lower">
              <i>Already a Member? <button onclick="window.location.href = '{% url 'login' %}';">Login</button></i>
            </div>
    </div>
</section>









{% endblock %}
