{% extends 'base.html' %}

{% block content %}
<div class="about-page">
	<h3>Do you want to?</h3>
	<div class="d-flex">
		<button class="btn btn-primary" onclick="window.location.href = '{% url 'uploadenc' %}';">Encrypt</button>
		<button class="btn btn-secondary" onclick="window.location.href = '{% url 'uploaddec' %}';">Decrypt</button>
	</div>
</div>

{% endblock %}
