{% extends 'base.html' %}
{% block content %}
  <form method="post" class="enc-form" enctype="multipart/form-data"
  action = "{% url 'decrypt' %}">
    {% csrf_token %}
    {{ form.as_p}}
    <!-- <input type="file" name="myfile"> -->
    <button class="btn btn-primary" type="submit">Decrypt</button>
    <br>
         {% if saved %}
         <div class="row">
            <div class="col-md-6 d-flex flex-column">
                       <strong>Image Uploaded</strong>
         <img class="here" style="height:200px;width:200px;object-fit: contain;" src="/media/images/{{saved}}">
            </div> 
            <div class="col-md-6 d-flex flex-column">
                       <strong>Image Encrypted</strong>
         <img class="here" style="height:200px;width:200px;object-fit: contain;" src="/media/images/encrypted.jpg">
            </div> 
        </div>
         <strong>Your profile was saved.</strong>
      {% endif %}
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

{% endblock %}