{% extends 'base.html' %}

{% block content %}


<section class="home">
<div class="image-area">
{% csrf_token %}
	{% if user.is_authenticated %}
	    {% if user.is_superuser %}
	        <div><a href='/admin/'>Go to Admin Panel</a></div>
	    {% else %}
	        <div><a href="{% url 'aboutus' %}" class="title-get btn btn-primary">Get Started</a>
	    {% endif %}
	{% else %}
	    <div class="home-button"><a  class="title-get btn btn-primary" href="{% url 'login' %}">Get Started</a></div>
	    {% include 'partials/_alerts.html' %}
	{% endif %}
{% include 'partials/_alerts.html' %}  <!-- alerts -->
</div>
</section>


{% endblock %}
